.app-control {
  background-color: $bcbg;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  padding: $spacer/2;

  .btn {
    align-items: center;
    box-shadow: $shadow1;
    display: flex;
    justify-content: center;
    line-height: 1;
    padding: $spacer;
    white-space: pre-wrap;

    &:hover {
      box-shadow: $shadow3;
    }
  }

  .btn + .btn {
    margin-left: $spacer/2;
  }
}
