.app-control {
  background-color: $bcbg;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;

  .btn {
    align-items: center;
    border-radius: 0;
    display: flex;
    justify-content: center;
    line-height: 1;
    padding-top: $spacer;
    padding-bottom: $spacer;
    white-space: pre-wrap;
  }
}
