.form-wrapper {
  @extend .info-container;
  padding: $spacer;
}

.form-group {
  margin-bottom: 0;

  & + & {
    margin-top: $spacer;
  }
}

.form-control {
  &.is-invalid {
    &:focus {
      box-shadow: $shadow2;
    }
  }
}
