header {
  background-color: $white;
}

.logo {
  margin-top: $spacer/2;
  margin-right: $spacer;
  margin-bottom: -$spacer/2;
  margin-left: 0;
  width: auto;
  max-width: 20rem;
  height: auto;

  svg {
    width: 100%;
    height: auto;
  }
}
