header {
  background: $light-gradient-bg-inv;
  border-bottom: 1px solid rgba(white, 0.5);
  min-height: $spacer * 3;
}

.logo {
  margin-top: $spacer/2;
  margin-right: $spacer;
  margin-bottom: -$spacer/2;
  margin-left: 0;
  width: auto;
  max-width: 20rem;
  height: auto;

  svg {
    width: 100%;
    height: auto;
  }
}
