.list-group {
}
.list-group-item {
  transition: background-color 0.333s;
  & + & {
    border-top: 1px rgba($primary, 0.1) solid;
  }
  & > a:hover {
    text-decoration: none;
  }
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
