.list-group {
  border-radius: $border-radius;
}
.list-group-item {
  background: $light-gradient-bg;

  & + & {
    border-top: 1px rgba($primary, 0.05) solid;
  }
  &:hover {
    background: rgba($white, 0.95);
  }

  & > a:hover {
    text-decoration: none;
  }
}
