h1,
.funky-shadow-style,
.shrikhand {
  font-family: "Shrikhand", cursive;
}

h1,
.funky-shadow-style {
  bottom: -0.75 * $spacer;
  display: inline-block;
  position: relative;
  // left: $spacer;
  padding-left: $spacer / 2;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 $bg-gradient-top, 2px 2px 0px $white;
  z-index: 2;
}
