// bg gradient

$bg-gradient-top: #e59308; // 229, 147, 8
$bg-gradient-middle: #fbf519; // 251, 245, 25
$bg-gradient-bottom: #bb3500; // 187, 53, 0

$light-gradient-bg: linear-gradient(
  to bottom,
  rgba($white, 0.95),
  rgba(mix($white, $primary, 95%), 0.95)
);
