// Z-levels - lifted from materialize
.z-depth-0 {
  box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1 {
  box-shadow: $shadow1;
}

/* 6dp elevation modified*/
.z-depth-2 {
  box-shadow: $shadow2;
}

/* 12dp elevation modified*/
.z-depth-3 {
  box-shadow: $shadow3;
}

/* 16dp elevation */
.z-depth-4 {
  box-shadow: $shadow4;
}

/* 24dp elevation */
.z-depth-5 {
  box-shadow: $shadow5;
}
